@model CLIMA_PRACTICA.Models.DataClima
@{
    ViewData["Title"] = "Privacy Policy";
    
}

   

    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ciudad
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                <a class="btn btn-primary ">
                    @Html.ActionLink("Nueva York", "Ciudad", "Home", new { woeid = "2459115" })
                </a>
                <a class="btn btn-primary ">
                    @Html.ActionLink("Londes", "Ciudad", "Home", new { woeid = "44418" })
                </a>
                <a class="btn btn-primary ">
                    @Html.ActionLink("Singapur", "Ciudad", "Home", new { woeid = "1062617" })
                </a>
                <a class="btn btn-primary ">
                    Guatemala, GT
                    @Html.ActionLink("Guatemala, GT", "Ciudad", "Home", new { woeid = "83123" })
                </a>
                <a class="btn btn-primary ">
                    Dallas, US
                    @Html.ActionLink("Dallas, US", "Ciudad", "Home", new { woeid = "2388929" })
                </a>
            </div>
        </div>



        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Temperatura:
            </dt>
            <dd class="col-sm-10">
                @Model.temperatura  °C
            </dd>
            <dt class="col-sm-2">
                Humedad:
            </dt>
            <dd class="col-sm-10">
                @Model.humedad  %
            </dd>
            <dt class="col-sm-2">
                Presion:
            </dt>
            <dd class="col-sm-10">
                @Model.presion millibars
            </dd>
            <dt class="col-sm-2">
                Dirección del viento:
            </dt>
            <dd class="col-sm-10">
                @Model.direccion°   grados desde el norte
            </dd>
            <dt class="col-sm-2">
                Velocidad del viento:
            </dt>
            <dd class="col-sm-10">
                @Model.velocidad km/h
            </dd>
        </dl>
    </div>