

<div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LATITUD
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="btn btn-primary " type="button" asp-area="" asp-controller="Home" asp-action="Latitud" 
                               asp-route-latitud="algo" asp-route-longitud="algo">
                Nueva York
            </a>
            <a class="btn btn-primary " type="button" asp-area="" asp-controller="Home" asp-action="Latitud"
                               asp-route-latitud="algo" asp-route-longitud="algo">
                Londress
            </a>
            <a class="btn btn-primary " type="button" asp-area="" asp-controller="Home" asp-action="Latitud" 
                               asp-route-latitud="algo" asp-route-longitud="algo">
                Singapur
            </a>
            <a class="btn btn-primary " type="button" asp-area="" asp-controller="Home" asp-action="Latitud" 
                               asp-route-latitud="algo" asp-route-longitud="algo">
                Guatemala, GT
            </a>
            <a class="btn btn-primary " type="button" asp-area="" asp-controller="Home" asp-action="Latitud" 
                               asp-route-latitud="algo" asp-route-longitud="algo">
                Dallas, US
            </a>
        </div>
    </div>



    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Temperatura:
        </dt>
        <dd class="col-sm-10" id="1">
            @ViewBag.temperatura  °C
        </dd>
        <dt class="col-sm-2">
            Humedad:
        </dt>
        <dd class="col-sm-10" id="2">
            @ViewBag.humedad  %
        </dd>
        <dt class="col-sm-2">
            Presion:
        </dt>
        <dd class="col-sm-10" id="3">
            @ViewBag.presion  millibars
        </dd>
        <dt class="col-sm-2">
            Dirección del viento:
        </dt>
        <dd class="col-sm-10" id="4">
            @ViewBag.direccion°   grados desde el norte
        </dd>
        <dt class="col-sm-2">
            Velocidad del viento:
        </dt>
        <dd class="col-sm-10" id="5">
            @ViewBag.velocidad km/h
        </dd>
    </dl>
</div>
