@model CLIMA_PRACTICA.Models.LatitudLon
@{
    ViewData["Title"] = "Privacy Policy";
    

}


<div>
    <div class="row text-center justify-content-xl-center align-content-center">
        <div class="col-md-4">
            <form action="/Home/Latitud" method="post">
                <div class="form-group">
                    <label class="control-label">Ingresa Latitud</label>
                    <input type="text" class="form-control" name="latitud" value="" />
                </div>
                <div class="form-group">
                    <label class="control-label">Ingresa Longitud</label>
                    <input type="password" class="form-control" name="longitud" value="" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Mostrar Datos</button>
                </div>
            </form>
        </div>
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Temperatura:
        </dt>
        <dd class="col-sm-10" id="1">
            @Model.temperatura  °C
        </dd>
        <dt class="col-sm-2">
            Humedad:
        </dt>
        <dd class="col-sm-10" id="2">
            @Model.humedad  %
        </dd>
        <dt class="col-sm-2">
            Presion:
        </dt>
        <dd class="col-sm-10" id="3">
            @Model.presion  millibars
        </dd>
        <dt class="col-sm-2">
            Dirección del viento:
        </dt>
        <dd class="col-sm-10" id="4">
            @Model.direccion°   grados desde el norte
        </dd>
        <dt class="col-sm-2">
            Velocidad del viento:
        </dt>
        <dd class="col-sm-10" id="5">
            @Model.velocidad km/h
        </dd>
    </dl>
</div>
